body{
    background-image: url("../images/background.png");
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.header{
    background: #ff9999;
}

.main-body{
    background: #ffe680;
}

p{
    line-height: 1.6;
    font-size: 20px; 
}

.number-guessed{
    background: #00cc66;
    margin: 10px;
}
#num-to-guess, #totalPoints{
    font-size: 50px;
}
#wins, #losses{
    font-size: 25px;
}
.scores{
    background: lightgoldenrodyellow;
    margin: 10px;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    width: 100px;
    height: 100px;
}

.title{
    background: #008080;
}

.total-guessed{
    background: #008080;
    height: 150px;
}

